@import 'styles/colors';
@import 'styles/shared';
.MostPickItem{
    padding: 10px;
    .MainItem{
        height: 420px;
    }
    .OtherItem{
        height: 200px;
    }
    .MostPickItem__Container{
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $image-border-radius;
        .MoctPickItem__Overlay{
            border-radius: $image-border-radius;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: 0.3);
            display: flex;
            flex-direction: column;
            .Top__Section{
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .MoctPickItem__PopularChoice{
                    background: $hotel-pink;
                    color: $hotel-white;
                    text-align: center;
                    width: 70%;
                    min-height: 30px;
                    border-bottom-left-radius: $image-border-radius;
                    border-top-right-radius: $image-border-radius;
                }
            }
            .Bottom__Section{
                height: 50%;
                padding-left: 1rem;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                .MostPickItem__Name{
                    color: $hotel-white;
                }
                .MostPickItem__Location{
                    color: $hotel-white;
                }
            }
        }
    }
}