@import 'styles/shared';
@import 'styles/colors';
.SingleItem{
    .SingleItem__Image__Container{
        img{
            border-radius: $image-border-radius;
        }
    }
    .SingleItem__Bottom__Container{
        padding: 5px 0;
        .SingleItem__Name{
            color: $hotel-blue-violet;
        }
        .SingleItem__Location{
            font-weight: lighter;
            color: gray;
        }
    }
}